/*Header Design*/

#navbar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  width: 220px;
  height: 100%;
  cursor: pointer;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-bottom: 0px;
}

.menu__list > li {
  margin-right: 1.25rem;
  position: relative;
}

.menu__list a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #fec200;
  transition: all 0.5s linear;
}

.menu__list a:hover::before {
  width: 100%;
}
/*nav button*/

.nav__button {
  background-color: #fec200;
  /* margin-left: 20px; */
  width: 150px;
  height: 50px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.nav__button::before {
  content: "";
  position: absolute;
  background-color: #9fcc29;
  width: 100%;
  height: 85%;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  z-index: -1;
}

.nav__button .button__text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
/* previous work */

#projects_product_section {
  background: url("../img/project&product_background.svg") no-repeat center
    center;
  background-size: cover;
}
.single_project_card {
  cursor: pointer;
  overflow: hidden;
}
/* .single_project_card:hover {
  
} */
.project_image {
  position: relative;
  overflow: hidden;
}
.project_image__content {
  background: #cfcfcf6b;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s;
}

.project_image:hover .project_image__content {
  left: 0;
}

.project_image > img {
  max-width: 100%;
  /* overflow: hidden; */
  object-fit: cover;
}
/* footer */
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social__icon {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.social__icon > li > i {
  font-size: 30px;
  cursor: pointer;
}
.social__icon > li > i:hover {
  color: #cb410b;
}
/*contact section*/
#contact__section {
  background: rgba(231, 231, 231, 0.4);
  backdrop-filter: blur(20px);
}
.contact__section {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 700px;
}
.left__contact__section {
  flex: 1;
}
.right__contact__section {
  flex: 1;
}
.basic__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.first__name,
.last__name,
.email,
.phone__number {
  width: calc(100% / 2 - 20px);
}
.input__box > label {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.input__box > input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid grey;
  margin-bottom: 20px;
  background: transparent;
}
.service__needed .radio_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #121212;
  margin-bottom: 10px;
}
.radio__button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.service__needed label {
  margin-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.massage__box .msg__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #121212;
  padding: 20px 0px;
}
.massage__box textarea {
  padding: 10px 20px;
  outline: none;
  border: none;
  background: #ffffff;
  border-radius: 10px;
}

#contact__button {
  background: #fec200;
  margin-top: 20px;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#contact__button:before {
  content: "";
  position: absolute;
  background: #9fcc29;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  transform: rotate(-35deg);
  z-index: -1;
}
#contact__button span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.contact__heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 15px 0px;
  gap: 8px;
}
.contact__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
}
.contact__sub__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
.main__contact__container {
  height: 550px;
  max-width: 550px;
  background-color: #fafbfd;
  border-radius: 10px;
  padding: 10px 20px;
}
.contact__info__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}
.contact__info__paragraph {
  font-size: 15px;
  padding: 10px 0px;
}
.contact__info__number,
.contact__info__email {
  font-size: 15px;
  line-height: 26px;
}
.contact__social__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social__media__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.social__media__icon > li > i {
  font-size: 25px;
}
.social__media__icon > li > i:hover {
  cursor: pointer;
  color: #cb410b;
}
.contact__image {
  position: relative;
  width: 320px;
}
.contact__image > img {
  width: 100%;
}
