#header {
  background: #fffef0;
  padding: 10px 0px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.nav-bg {
  background-color: #fffef0;
}
/*Hero Section Design*/
#hero__section {
  max-width: 100vw;
  padding: 20px 0px;
  background-color: #fffef0;
}

.hero__right_img {
  position: relative;
}

.sub__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sub__heading {
  align-self: end;
  margin-left: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #949b9d;
}
.hero__content__heading {
  font-weight: bold;
  font-size: 48px;
  max-width: 700px;
}
.hero__content__description {
  font-weight: 500;
  font-size: 20px;
  color: #2a333a;
  max-width: 570px;
  margin-bottom: 20px;
}
/*button*/
.hero__button {
  background-color: #fec200;
  width: 250px;
  height: 40px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0px 18px 28px rgba(9, 30, 66, 0.15))
    drop-shadow(0px 0px 1px rgba(9, 30, 66, 0.31));
  z-index: 1;
}

.hero__button::before {
  content: "";
  position: absolute;
  background-color: #9fcc29;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  transform: rotate(-25deg);
  z-index: -1;
}
.button__text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.social__icon {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.social__icon > li > i {
  font-size: 30px;
  cursor: pointer;
}
.social__icon > li > i:hover {
  color: #cb410b;
}

/*service section*/
.service_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}
.service__heading__text {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: #121212;
}
.service__description__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #2a333a;
}

.single_card {
  position: relative;
  height: 350px;
  /* width: 350px; */
  background: #ffffff;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.15),
    0px 0px 1px rgba(9, 30, 66, 0.31);
  transition: 0.5s;
}
.single_card:hover {
  height: 400px;
}
.img_box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.img_box > img {
  height: 100px;
  width: 100px;
}
.content {
  text-align: center;
  z-index: 999;
}
.card__button {
  margin-top: 10px;
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: 0.5s;
}
.single_card:hover > .card__button {
  opacity: 1;
  transform: translateY(30px);
}

/*work process section*/
#work__process {
  padding: 80px 0px;
  min-height: 80vh;
}
.work__process_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.work__process__heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: #121212;
}
.work__process_sub__heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
}
.work__process_diagram {
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}
.step_one,
.step_two,
.step_three,
.step_four,
.step_five {
  text-align: center;
}
.step_two,
.step_four {
  align-self: flex-end;
}
.step_img {
  position: relative;
  text-align: center;
  width: 300px;
  display: inline-block;
}
.step_img img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 10px 20px rgb(209, 241, 172));
}
.step_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #2a333a;
}
.step_title > span {
  color: #fec200;
}
.step_heading {
  font-weight: 600;
  font-size: 24px;
  margin-top: 8px;
  line-height: 26px;
  color: #121212;
}
.step_paragraph {
  margin-top: 15px;
  font-size: 16px;
  line-height: 140%;
  color: #2a333a;
}

/*Team Section*/
.team_container {
  height: 80vh;
  position: relative;
}
.team__content {
  padding-bottom: 20px;
}
.team__heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: #121212;
  padding-bottom: 10px;
}
.team__paragraph {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #2a333a;
}
.team__image {
  transform: translateY(20px);
}
.team__left__button {
  z-index: -1;
}

.team__button {
  width: 200px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  z-index: -1;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background: #fec200;
  overflow: hidden;
  position: relative;
}
.team__button:before {
  content: "";
  position: absolute;
  background-color: #9fcc29;
  width: 100%;
  height: 85%;
  top: 0;
  left: 0;
  transform: rotate(-25deg);
  z-index: -1;
}
.solar-system {
  width: 550px;
  height: 550px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sun {
  position: absolute;
  height: 130px;
  width: 130px;
  background: url("../img/BrandLogo.svg") no-repeat center center;
  background-size: contain;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border: 2px dotted #9fcc29;
}
.avatar-1 {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px dashed #9fcc29;
  animation: rotation 12s linear infinite;
}
.person-1,
.person-2,
.person-3,
.person-4 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(0, -50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.person_one_background {
  background: url("../img/Ellipse 10393.svg") no-repeat center center;
  background-size: contain;
}
.person_two_background {
  background: url("../img/Ellipse 10394.svg") no-repeat center center;
  background-size: contain;
}
.person_three_background {
  background: url("../img/Ellipse 10395.svg") no-repeat center center;
  background-size: contain;
}
.person_four_background {
  background: url("../img/Ellipse 10396.svg") no-repeat center center;
  background-size: contain;
}

.avatar-2 {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #9fcc29;
  animation: rotation 15s linear infinite;
}
.avatar-3 {
  position: absolute;
  width: 410px;
  height: 410px;
  border-radius: 50%;
  border: 2px solid #9fcc29;
  animation: rotation 16s linear infinite;
}
.avatar-4 {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 2px solid #9fcc29;
  animation: rotation 20s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*testimonial section*/
#testimonial__section {
  margin: 150px 0px;
}
.testimonial__title {
  color: #fec200;
  font-size: 16px;
  font-weight: 500;
}
.testimonial__heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: #121212;
  margin: 10px 0px;
}
.testimonial__sub_heading {
  color: #fec200;
  font-size: 16px;
  font-weight: 500;
}
.testimonial__card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.single_testimonial_card {
  height: 600px;
  width: 355px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}
.card__shadow {
  border-radius: 20px;
  overflow: hidden;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.card__content {
  text-align: center;
}
.card__image {
  position: relative;
  width: 355px;
  height: 350px;
}
.card__image img {
  width: 355px;
  height: 350px;
  object-fit: cover;
}
.card__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
}
.card__sub_title {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
.card__rating {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__rating > li > i {
  color: #fec200;
}
.card__paragraph {
  padding: 0px 15px;
}

/*contact section*/
#contact__section {
  background: rgba(231, 231, 231, 0.4);
  backdrop-filter: blur(20px);
}
.contact__section {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 700px;
}
.left__contact__section {
  flex: 1;
}
.right__contact__section {
  flex: 1;
}
.basic__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.first__name,
.last__name,
.email,
.phone__number {
  width: calc(100% / 2 - 20px);
}
.input__box > label {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.input__box > input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid grey;
  margin-bottom: 20px;
  background: transparent;
}
.service__needed .radio_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #121212;
  margin-bottom: 10px;
}
.radio__button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.service__needed label {
  margin-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.massage__box .msg__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #121212;
  padding: 20px 0px;
}
.massage__box textarea {
  padding: 10px 20px;
  outline: none;
  border: none;
  background: #ffffff;
  border-radius: 10px;
}
#contact__button {
  background: #fec200;
  margin-top: 20px;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#contact__button:before {
  content: "";
  position: absolute;
  background: #9fcc29;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  transform: rotate(-35deg);
  z-index: -1;
}
#contact__button span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.contact__heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 15px 0px;
  gap: 8px;
}
.contact__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
}
.contact__sub__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
.main__contact__container {
  height: 550px;
  max-width: 550px;
  background-color: #fafbfd;
  border-radius: 10px;
  padding: 10px 20px;
}
.contact__info__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}
.contact__info__paragraph {
  font-size: 15px;
  padding: 10px 0px;
}
.contact__info__number,
.contact__info__email {
  font-size: 15px;
  line-height: 26px;
}
.contact__social__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social__media__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.social__media__icon > li > i {
  font-size: 25px;
}
.social__media__icon > li > i:hover {
  cursor: pointer;
  color: #cb410b;
}
.contact__image {
  position: relative;
  width: 320px;
}
.contact__image > img {
  width: 100%;
}
/* footer */
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/*media query*/
@media screen and (max-width: 1075px) {
  .team_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1024px) {
  .hero__content__heading {
    font-size: 30px;
  }
  .hero__content__description {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .service__heading__text,
  .work__process__heading,
  .contact__title {
    font-size: 30px;
  }
  .service__description__text,
  .work__process_sub__heading,
  .contact__sub__title {
    text-align: justify;
    font-size: 13px;
  }
  .content > h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 976px) {
  .work__process_diagram {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .step_two,
  .step_four {
    align-self: center;
  }
}
@media screen and (max-width: 758px) {
  .team__left__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .team__button {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 980px) and (min-width: 755px) {
  .radio__button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 975px) and (min-width: 755px) {
  .footer__logo {
    flex-direction: column;
    gap: 0px;
  }
}
